@import 'reset';

/*  VARIABLES  ============================================================================= */

$logowidth: 50px;
$card-text-width: 50px;
$light-grey: #A5A5A5;
$dark-grey: #191919;
$number-of-slides-in-gallery: 12;
$start-point-gallery: percentage(-1/$number-of-slides-in-gallery);

/*  MIXINS ============================================================================= */

@mixin box-shadow($x,$y,$blur,$color){
	-webkit-box-shadow: $x $y $blur $color;
	box-shadow: $x $y $blur $color;
}

@mixin transition($property , $duration){
	-webkit-transition: $property $duration ease-in-out;
	-moz-transition: $property $duration ease-in-out;
	-ms-transition: $property $duration ease-in-out;
	-o-transition: $property $duration ease-in-out;
	transition: $property $duration ease-in-out;
}

@mixin header($bg-color, $padding-top, $padding-bottom){
	background-color: $bg-color;
	position: fixed;
	width: 100%;
	top: 0;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: $padding-top;
	padding-bottom: $padding-bottom;
	z-index: 100;
}

@mixin expand-arrow($color){
	margin-bottom: 3px;
	display: inline-block;
	vertical-align: middle;
	color: $color;
}


/*  PLACEHOLDERS ============================================================================= */

%a-white-uppercase {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Roboto Mono';

	&:hover {
		text-decoration: line-through; 
	}
}

%a-black-lowercase {
	text-transform: lowercase;
	text-decoration: none;
	color: black;

}

%a-black-uppercase {
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/*  GENERAL ============================================================================= */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rotate {
	transform: rotateZ(-180deg);
	-ms-transform: rotateZ(-180deg); /* IE 9 */
	-webkit-transform: rotateZ(-180deg); /* Safari and Chrome */
}

.vertical-align {
	vertical-align: middle;
	display: table-cell;
}


/*  HEADERS  ============================================================================= */


.desktop-header {
	@include header(white, 30px, 30px);
}

.mobile-header {
	@include header(white, 15px, 15px);
	border-bottom: 1px solid black;
	display: none;
}

.mobile-header-black {
	@include header(black, 15px, 15px);

		a {
			color: white;
		} 
}

.header-scrolling {
	@include box-shadow(0px,1px,1px,#8A8A8A);
}


/* SHOW MOBILE HEADER AT 768 PIXELS*/

@media only screen and (max-width: 768px) {
	.mobile-header {
		display: block;
	}

	.desktop-header {
		display: none;
	}
}


/*  FOOTER  ============================================================================= */

footer {
	clear: both;
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
    padding-top: 50px;
    padding-bottom: 150px;
	border-top: 1px solid #E9E9E9;
}


/*  NAVIGATION  ============================================================================= */	

.desktop-nav {
	float: right;


	li {
		display: inline;
		margin-left: 50px;
		font-size: 14px;
	}

	a {
		@extend %a-black-lowercase;

		&:hover{
			text-decoration: line-through; 	
		}
	}

	.expand-arrow {
		@include expand-arrow($light-grey);
		@include transition(all, 300ms);
	}

	.dropdown {
		position: relative;
	}

	.dropdown-menu {
		display: none;
		position: absolute;
		right: 0px;
		background-color: black;
		padding: 10px;
		padding-left: 15px;
		width: 160px;
		line-height: 2.2;

		li {
			display: block;
			margin-left: 0px;
		}

		a {
			@extend %a-white-uppercase;
		}
	}
}

.mobile-menu-icons {
	float: right;
	font-size: 26px;
	color: black;
}

.mobile-navigation-wrapper {
	position: fixed;
	z-index: 200;
	left: 100%; 
	width: 100%;
	height: 100%;
	background-color: black;
	@include transition(left, 300ms);
}

.mobile-nav {
	display: table;
	height: 100%;
	width: 100%;
	line-height: 3;
	font-size: 13px;
	letter-spacing: 2px;
	text-align: center;

	a {
		@extend %a-white-uppercase;
		position: relative;
		z-index: 300;
	}

	.dropdown-menu {
		display: none;
		background-color: $dark-grey;
		width: 100%;
	}

	.expand-arrow {
		@include expand-arrow(white);
		@include transition(all, 300ms);
	}
}

/* HIDE BIG NAV AND SHOW MOBILE MENU AT 768 PIXELS*/

@media only screen and (max-width: 768px) {
	.desktop-nav {
		display: none;
	}
	.mobile-menu {
		display: inline;
	}
}


/*  LOGO  ============================================================================= */

.logo {
	@extend %a-black-lowercase;
	float: left;
	font-weight: bold;
	font-size: 16px;
}

.logo-big {
	font-size: 34px;
	width: $logowidth;
	word-spacing: $logowidth;	
	letter-spacing: -1px;	
	line-height: 0.8;
}

/* SHOW SMALL LOGO AT 768 PIXELS*/

@media only screen and (max-width: 768px) {
	.logo, .logo-big { 
		font-size: 16px;
		width: $logowidth;
		word-spacing: $logowidth;	
		letter-spacing: -1px;	
		line-height: 0.8;
	}
}

/*  GALLERY  ============================================================================= */

#galleryContainer {
	width: 100%;
	height: 400px;
	margin-top: 2%;
	margin-bottom: 2%;
	overflow: hidden;
}

#slider {
	width: 100% * $number-of-slides-in-gallery;
	height: 400px;
	margin-left: -100%;
}

.gallery-cell{
	float: left;
	width: (100% / $number-of-slides-in-gallery);
	height: 400px;

	.col {
		float: right;
		height: 400px;
		filter: grayscale(100%); 
		-webkit-filter: grayscale(100%);
	}

	.col:first-child { margin-left: 2%; } 
	.col:last-child { margin-left: 0%; } 

	.gallery-left {
		border-top: 1px solid black; 
		border-bottom: 1px solid black;
		text-transform: uppercase;
		font-family: 'Roboto Mono';
		letter-spacing: 3px;
		font-size: 14px;
		position: relative;

		p {
			margin-top: 40px;
			margin-bottom: 30px;

		}

		h1{
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: lowercase;
			font-size: 46px;
			letter-spacing: 0px;
		}

		.gallery-control {
			position: absolute;
			bottom: 30px;
			width: 100%;
		}

		.page-number{
			float: left;
		}

		.paging {
			float: right;

			a {
				@extend %a-black-uppercase;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.gallery-cell {

		.col {
			height: 200px;
		}

		.gallery-left {
			font-size: 12px;

			h1 {
				font-size: 24px;
			}
		}
	}
}

/*  CARDS  ============================================================================= */

.card {
	position: relative;
	color: white;
	font-size: 38px;
	font-weight: bold;
	text-transform: lowercase;
	@include transition(opacity, 300ms);


	h2 {
		position: absolute;
		bottom: 10px;
		left: 10px;
		width: $card-text-width;
		word-spacing: $card-text-width;
	}

	&:hover {
		cursor: pointer;
	}
}


.card-inactive {

	opacity: 0.5;

}

/*  WRAPPER  ============================================================================= */

#wrapper {
	width: 100%; 
	padding-top: 120px;
	padding-right: 5%;
	padding-left: 5%;
	height: 1000px;
	margin: auto;
}

/* DECREASE TOP PADDING AT 768 PIXELS */

@media only screen and (max-width: 768px) {
	#wrapper {
		padding-top: 90px;
	}
}	


/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float: left;
	margin: 0% 0% 2% 2%;
	background-size: cover;
	background-position: center;
	height: 300px;
	filter: grayscale(50%); 
	-webkit-filter: grayscale(50%);

}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 768 PIXELS */

@media only screen and (max-width: 768px) {
	.col { 
		margin: 0% 0 2% 0%;
	}

	.placeholder{ display: none; }
}

/*  GRID OF FOUR   ============================================================================= */

	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.5%; 
}

.span_2_of_4 {
	width: 49%; 
}

.span_1_of_4 {
	width: 23.5%; 
}


/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */

@media only screen and (max-width: 768px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}

/*  GRID OF THREE   ============================================================================= */

	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66%; 
}

.span_1_of_3 {
	width: 32%; 
}


/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */

@media only screen and (max-width: 768px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}
